<a href="https://colab.research.google.com/github/jlchulilla/ejemplos/blob/master/multiples_categorias_para_DeepInfo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import collections
df = pd.DataFrame([[["a","b","c"]],[["a","d","e"]]],columns=["valores"])
data2 = pd.DataFrame.from_dict(
    {'categories': {0: ['A', 'B'], 1: ['B', 'C', 'D'], 2:['B', 'D']}})
data2

  categories
0     [A, B]
1  [B, C, D]
2     [B, D]

In [ ]:
data3 = data2['categories'].apply(collections.Counter)
data3

0            {'A': 1, 'B': 1}
1    {'B': 1, 'C': 1, 'D': 1}
2            {'B': 1, 'D': 1}
Name: categories, dtype: object

In [ ]:
type(data3)

pandas.core.series.Series

In [ ]:
df2 = pd.DataFrame.from_records(data3).fillna(value=0)
df2

     A  B    C    D
0  1.0  1  0.0  0.0
1  0.0  1  1.0  1.0
2  0.0  1  0.0  1.0

In [ ]:
df2['B'].sum()

3

In [ ]:
df3 = pd.DataFrame(df2.columns,columns=['categoría'])
df3['ocurrencia'] = df3['categoría'].apply(lambda x:df2[x].sum())
df3

  categoría  ocurrencia
0         A         1.0
1         B         3.0
2         C         1.0
3         D         2.0

In [ ]:
df3.loc[df3.categoría == "B"]

  categoría  ocurrencia
1         B         3.0